@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(50, 180, 30, 1) 0%, rgba(0, 50, 180, 1) 100% );
    display: flex;
    align-items: top;
    justify-content: center;
    margin: 100px;
    font-family: 'Roboto', sans-serif;
}

.nova-tarefa-container {
    background-color: #FFF;
    width: 800px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px; 
    display: flex;
}

.nova-tarefa-container input {
    font-size: 16px;
    width: 700px;
    border: 2px solid;
    border-radius: 5px;
    padding: 12px;
    max-width: 700px;
}

.nova-tarefa-botao {
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 16px;
    border: none;
    background-color: green;
    color: #FFF;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.tarefas-container {
    background-color: #FFF;
    margin-top: 50px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px; 
    text-align: center;
    display: none;
}

.tarefa-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
}

.tarefa-item input {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.tarefa-item p {
    font-size: 18px;
}

.tarefa-item p.checked {
    text-decoration: line-through;
}

.tarefa-item i {
    background-color: #293d69;
    color: #FFF;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 460px) {
    .nova-tarefa-container {
        width: 260px;
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .nova-tarefa-container input {
        font-size: 14px;
        width: 220px;
    }
    .nova-tarefa-botao {
        font-size: 14px;
        width: 250px;
        text-align: center;
        margin-top: 10px;
        margin-left: 0px;
    }
    .tarefa-item input {
        width: 20px;
        height: 20px;
    }
    .tarefa-item p {
        font-size: 14px;
    }
    .tarefa-item i {
        font-size: 12px;
        padding: 8px;
    }
}
   